{% spaceless %}
<div class="item-detail">
    <div class="item-header">
    {% block header %}
    {% endblock header %}
    </div>

    <div class="item-content">
    {% block content %}
    {% for k, v in item.metadata.items %}
    <span class="label">{{ k }}: </span>
    <span class="value">{{ v }}</span>
    <br>
    {% endfor %}
    {% block media %}
    {% if item.media.all|length != 0 %}
    <hr>
    <div class="item-media">
    {% for m in item.media.all %}
        {% include m.get_template %}
    {% endfor %}
    </div>
    {% endif %}
    {% endblock %}

    {% endblock content %}
    </div>
</div>
{% endspaceless %}