<html>
  <head>
    <title>Maps</title>
    <meta content="">
    <script src="/static/maps.js" type="text/javascript"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_apikey }}&callback=initMap" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/site.css"/>
  </head>
  <body>
  <div id="navbar">
    <h2>Maps Page</h2>
    <a href="#" onclick="reloadData();"><h3>(reload)</h3></a>
    <div class="navitem-container">
        <div class="navitem">Lat: <span id="#lat"></span> Long: <span id="#lng"></span></div>
    </div>
  </div>
  <div id="content">
    <div id="sidebar">
        <h3>Languages</h3>
        <ul>
        {% for l in langs %}
        <li><a href="#" onclick="doFilter('lang', '{{ l.pk }}');">{{ l.name }}
        {% if l.alt_names %} ({{ l.alt_names }}){% endif %}</a></li>
        {% endfor %}
        </ul>
        <a href="#" onclick="resetFilter()">Reset filter</a>
    </div>
    <div id="gmap"></div>
  </div>
  </body>
</html>
