{% extends "base.html" %}
{% load static %}

{% block extrahead %}
	<link rel="stylesheet" href="{% static "leaflet-1.7.1.css" %}" />
	<link rel="stylesheet" href="{% static "leaflet.responsive.popup.css" %}" />
	<link rel="stylesheet" href="{% static "maps.css" %}" />
    <script type="text/javascript" src="{% static "script/leaflet-1.7.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "script/esri-leaflet-2.5.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "script/L.LabelTextCollision.js" %}"></script>
    <script type="text/javascript" src="{% static "script/rbush-3.0.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "script/leaflet.canvas-markers.js" %}"></script>
    <script type="text/javascript" src="{% static "script/leaflet.responsive.popup.js" %}"></script>
    <script type="text/javascript" src="{% static "script/leaflet_controls.js" %}"></script>
    <script type="text/javascript" src="{% static "script/maps_leaflet.js" %}"></script>
{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
<div id="mapdiv"></div>
<!-- #tempdiv is populated with popup content while it is loading -->
<div id="tempdiv" stype="display: none"></div>
{% endblock %}
